.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.track__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track__list__info {
    font-size: 15px;
}

.track__author {
    margin-bottom: 3px;
}

.track__title {
    margin-bottom: 0;
    font-weight: 400;
}

.track__list__offer__bookmark {
    display: flex;
    position: absolute;
    align-items: center;
    justify-items: center;
    right: 0;
    width: 65px;
    justify-content: center;
    /* margin-top: -24px; */
}

.link__nostyle {
    text-decoration: none;
    color: #05172d;
}

.offer {
    margin-left: 50px;
}
