@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Regular.woff"),
        url("../public/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Light.woff"),
        url("../public/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Bold.woff"),
        url("../public/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #fc00ff, #00dbde);
    background-size: 150% 150%;
    animation: gradient 10s ease infinite;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #05172d;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Container */
.container_custom {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
/* .header {
} */

.header {
    height: auto;
}

.footer {
    height: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 5px 0;

    border-bottom: 1px solid #fff;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo__img {
    width: 125px;
    height: auto;
    margin: 0 auto 5px auto;
    text-align: center;
}

/* .header__logo img {
  margin-bottom: 8px;
} */

.header__logo p {
    font-size: 11px;
    font-weight: 400;
    color: #fff;

    margin: 0;
}

.header__logo a {
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 47px;
    text-decoration: none;
    letter-spacing: 0.05rem;
    color: #fd8aff;
    text-shadow: 1px 1px 1px rgb(43, 43, 43);

    transition: color 0.1s linear;
}

.nav__blue {
    color: #00dbde;
}

.nav__link:hover {
    color: #00dbde;
}

.nav__link:first-child {
    margin-left: 0;
}

/* Labels */
.label {
    vertical-align: top;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 120px;
    height: 15px;
    border-radius: 7px;

    font-family: "Roboto";
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.15rem;
    text-align: center;
    /* justify-content: center; */
}

.label__item {
    display: flex;
}

.label--blue {
    background-color: #18ffff;
}

.label--pink {
    background-color: #ee8cff;
}

.label__input {
    font-weight: 400;
    font-size: 16px;
    color: #18ffff;
}

/* Links */

.link__nostyle {
    text-decoration: none;
    color: #05172d;
}

/* Buttons */
.buttons {
    margin-top: 3px;
    text-align: center;
}

.buttons__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}

/* .buttons__column:nth-child(1) {
    margin-right: 7.5px;
}
.buttons__column:nth-child(2) {
    margin: 0 7.5px;
    background-color: rgba(24, 255, 255, 0.3);
} */

.button {
    display: inline-block;
    vertical-align: top;
    padding: 3px 15px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #e200e6;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.btn__small {
    display: inline-block;
    vertical-align: top;
    padding: 3px 15px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #e200e6;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.btn--blue {
    background: #18ffff;
}

.btn--blue:hover {
    background: #15ecec;
}

.btn--pink {
    color: #18ffff;
    background: #fc00ff;
}

.btn--pink:hover {
    background: #f302f7;
}

/* Main content */
.group__list {
    /* width: 70%; */
    margin: 0 auto;
}

.main__content {
    display: flex;
    padding: 10px 0;
    overflow: hidden;
    height: calc(100vh - (91px + 101px));
}

.main__content_wraper {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0 -15px;
    height: 100%;
}

.content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.all__content {
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 65%;
    border-radius: 10px;
    background-color: rgba(238, 140, 255, 0.5);
}

.all_tracks {
    margin: 15px auto;
}

.all__users__items {
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
    background-color: rgba(24, 255, 255, 0.3);
    text-align: center;
    justify-content: space-between;
}

.filter__column {
    display: flex;
    flex-direction: column;
    width: auto;
    /* justify-content: center; */
}

.filter h5 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(94, 94, 94);
}

.filter p {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
}

.users__content {
    margin: 0 15px;
    width: 33.33333%;
    overflow: auto;

    border-radius: 10px;
    background-color: rgba(238, 140, 255, 0.5);
}

.users__content:nth-child(1) {
    margin-right: 7.5px;
}
.users__content:nth-child(2) {
    margin: 0 7.5px;
    background-color: rgba(24, 255, 255, 0.3);
}
.users__content:nth-child(3) {
    margin-left: 7.5px;
}

.user__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin: 15px 15px;
}

.user__avatar {
    width: 73px;
    height: 73px;
    border-radius: 39px;
    background-color: #fff;
}

.user__info {
    margin-left: 10px;
}

.user__item__name {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
}

.user__music__styles {
    display: flex;
    font-weight: 400;
}

.music__styles__item {
    margin-right: 12px;
}

.collaborations__content {
    margin: 0 7.5px;
    width: 33.33333%;
    /* height: 700px; */
    border-radius: 10px;
    background-color: rgba(24, 255, 255, 0.5);
}

.remix__content {
    margin: 0 0 0 7.5px;
    width: 33.33333%;
    /* height: 700px; */
    border-radius: 10px;
    background-color: rgba(238, 140, 255, 0.5);
}

.track__list__block {
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: space-between; */

    margin: 10px 15px;
}

.track__block {
    display: flex;
    flex-direction: column;
}

.track__block__list {
    flex-direction: row;
}

.track__list__info {
    font-size: 15px;
}

.track__list__info .track__author {
    margin-bottom: 0;
}

.track__cover {
    margin-right: 15px;
    width: 49px;
    height: 49px;
    background-color: white;
    border-radius: 6px;
}

.track__list__duration__bookmark {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -24px;
}

.track__list__duration {
    font-weight: 400;
    margin-bottom: 3px;
}

.bookmark {
    width: 22px;
    height: 22px;
    margin: 0 auto;
    cursor: pointer;
}

.bookmark__player {
    fill: #00dbde;
}

/* Footer */
.footer {
    margin-top: auto;
}

.footer__inner {
    border-top: 1px solid #fff;
}

/* Player */
.media__player {
    display: flex;
    margin: 20px auto;
    max-width: 730px;
    align-items: center;
    justify-content: space-between;
}

.btn__nostyle {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.track__info {
    display: flex;
    margin-top: 10px;
    margin-bottom: -15px;
    justify-content: center;
    font-size: 15px;
}

.track__title {
    margin-left: 10px;
    font-weight: 400;
}

.track__author {
    margin-right: 10px;
    color: rgb(39, 39, 39);
}

.track__author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.duration {
    font-weight: 400;
    color: rgb(39, 39, 39);
}

.track__block {
    margin-left: 8px;
}

.track__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress__container {
    display: flex;
    align-items: center;
    background: #fc00ff;
    border-radius: 3px;
    width: 480px;
    height: 6px;
}

.progress {
    --bar-bg: #fc00ff;
    --seek-before-width: 0;
    --seek-before-color: #00dbde;
    appearance: none;
    background: var(--bar-bg);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: none;
    height: 0px;
    width: 0px;
}

.progress::before {
    content: "";
    height: 4px;
    width: var(--seek-before-width);
    border-radius: 2px;
    background-color: var(--seek-before-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/* .progress:hover {
    background: #00c4c7;
} */

.volume__container {
    display: flex;
    align-items: center;
    background: #fc00ff;
    border-radius: 5px;
    width: 80px;
    height: 6px;
}

.volume__slider {
    --bar-bg: #fc00ff;
    --seek-before-width: 0;
    --seek-before-color: #00dbde;
    appearance: none;
    background: var(--bar-bg);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.volume__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}

.volume__slider::before {
    content: "";
    height: 4px;
    width: var(--seek-before-width);
    border-radius: 2px;
    background-color: var(--seek-before-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

/* .volume__slider:hover {
    background: #00c4c7;
} */

.track__volume {
    margin: 0 20px;
}

.buttons__media__player {
    display: flex;
    /* max-width: 10px; */
    /* justify-content: space-between; */
    align-items: center;
}

.btn__player {
    display: none;
    display: flex;
    cursor: pointer;
}

.btn__player:hover {
    fill: #00c4c7;
}

.play {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    fill: #00dbde;
}

.prev {
    width: 25px;
    height: 25px;
    fill: #00dbde;
}

.next {
    width: 25px;
    height: 25px;
    fill: #00dbde;
}

/* Other items */

.form__header {
    /* font-weight: 700; */
    text-align: center;
    color: #18ffff;
}

/* Bootstrap Custom */

.list-group {
    width: auto;
    margin: 0 10px;
}

.list-group-item {
    background-color: transparent;
    border-color: rgb(90, 90, 90);
}

.list-group-item:hover {
    background-color: rgba(24, 255, 255, 0.2);
}

.page-link {
    border-color: rgb(90, 90, 90);
    background-color: transparent;
    color: rgb(90, 90, 90);
}

.page-link:hover {
    background-color: rgba(24, 255, 255, 0.2);
    border-color: rgb(90, 90, 90);
}

.invalid-feedback {
    font-size: 13px;
    font-weight: 400;
    color: #8d0000;
}

.input-group {
    background-color: transparent;
}

.form-control {
    background-color: transparent;
}

.form-control.is-invalid {
    border-color: #8d0000;
}

.form-control:focus {
    background-color: rgba(238, 140, 255, 0.4);
}

.form-select {
    background-color: transparent;
}

.form-select option {
    background: #ab79f5;
}

.anchor__auth {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #8d0000;
}

.col-md-6 {
    position: relative;
}

.card {
    display: flex;
    background-color: transparent;
    border: none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    margin: 10px;
}

.row {
    background-color: transparent;
}

.text-danger {
    font-size: 13px;
    font-weight: 400;
    color: #8d0000;
}

.dropdown-menu {
    background-color: #7bb4ff;
    border-color: #ab79f5;
}

.btn.dropdown-toggle:hover {
    border-color: #ab79f5;
}

.dropdown-item:hover {
    background-color: rgba(24, 255, 255, 0.4);
    color: white;
    text-shadow: 1px 1px 1px rgb(43, 43, 43);
}

.me-2 {
    color: white;
    text-shadow: 1px 1px 1px rgb(43, 43, 43);
    font-size: 17px;
    font-weight: 700;
}

.justify-content-center {
    height: 30px;
}

/* AudioPlayer Custom */

.rhap_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: inherit;
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    box-shadow: none;
}

.rhap_time {
    font-weight: 400;
    color: rgb(39, 39, 39);
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
}

.rhap_button-clear {
    background-color: transparent;
    border: none;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.rhap_play-pause-button {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.rhap_play-pause-button:hover {
    color: #00c4c7;
}

.rhap_skip-button:hover {
    color: #00c4c7;
}

.rhap_main-controls-button {
    margin: 0 3px;
    color: #00dbde;
    font-size: 35px;
    width: 35px;
    height: 35px;
}

.rhap_repeat-button {
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: #00dbde;
    margin-right: 6px;
}

.rhap_progress-bar {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 5px;
    background-color: #dddddd;
    border-radius: 5px;
}

.rhap_progress-bar-show-download {
    background-color: #fc00ff;
}

.rhap_progress-indicator {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    width: 10px;
    height: 10px;

    top: -3px;
    background: transparent;
    border-radius: 50%;
    box-shadow: rgba(134, 134, 134, 0.5) 0 0 5px;
}

.rhap_progress-filled {
    height: 60%;
    margin-top: 1px;
    position: absolute;
    z-index: 2;
    background-color: #00dbde;
    border-radius: 2px;
}

.rhap_progress-filled:hover {
    background-color: #00c4c7;
}

.rhap_progress-filled:active {
    background-color: #00c4c7;
}

.rhap_download-progress {
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border-radius: 2px;
}

.rhap_volume-bar {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 5px;
    background: #fc00ff;
    border-radius: 2px;
}

.rhap_volume-indicator {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    width: 10px;
    height: 10px;
    margin-left: -6px;
    left: 0;
    top: -3px;
    background: transparent;
    opacity: 1;
    border-radius: 50px;
    box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px;
    cursor: pointer;
}

.rhap_volume-filled {
    height: 60%;
    margin-top: 1px;
    position: absolute;
    z-index: 2;
    background-color: #00dbde;
    border-radius: 2px;
}

.rhap_volume-filled:hover {
    background-color: #00c4c7;
}

.rhap_volume-filled:active {
    background-color: #00c4c7;
}

.rhap_volume-button {
    flex: 0 0 26px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: #00dbde;
    margin-right: 6px;
}

.rhap_volume-button:hover {
    color: #00c4c7;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
