.content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.filter {
    display: flex;
    margin: 0 7.5px;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
    background-color: rgba(24, 255, 255, 0.3);
    text-align: center;
    justify-content: space-between;
}

.filter__column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
    /* align-items: center; */
}

.all__content {
    align-items: center;
    margin: 0 7.5px;
    padding: 0 20px;
    width: 45%;
    border-radius: 10px;
    background-color: rgba(238, 140, 255, 0.5);
}

.all__users__items {
    display: flex;
    justify-content: space-between;
}

.search {
    margin: 10px auto;
}

.btn__blue__small {
    display: inline-block;
    vertical-align: top;
    padding: 3px 15px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #e200e6;
    background: #18ffff;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.btn__blue__small:hover {
    background: #15ecec;
}
