.header {
    margin: 10px auto;
    text-align: center;
    color: #18ffff;
}

.track__list__block {
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: space-between; */

    margin: 10px 15px;
}
